@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
/*
 * 1. Hide scrollbar for Chrome, Safari, and Opera
 */
.hide-scrollbar-on-main::-webkit-scrollbar {
    display: none;
    width: 0 !important; /* Optional, but helps in some cases */
    height: 0 !important;
}

/*
 * 2. Hide scrollbar for IE, Edge
 */
.hide-scrollbar-on-main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.menu-rotate {
    transition: transform 0.45s ease; /* slower & smoother */
}

.menu-rotate.open {
    transform: rotate(0deg);
}

.menu-rotate.closed {
    transform: rotate(90deg);
}

